* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #00ED64;
  --fg: #000000;
  --bgw: #f5f5f5;
}

@font-face {
  font-family: 'Luck';
  src: url('./assets/font/LuckiestGuy.ttf');
}

@font-face {
  font-family: 'Biz';
  src: url('./assets/font/Bizantheum.otf');
}

@font-face{
  font-family:'Santa';
  src:url('./assets/font/Santa\ Unicorn.ttf');
}

@font-face{
  font-family:'Valen';
  src:url('./assets/font/Wonderful\ Valentine.ttf');
}


body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-height: 100vh;
  background-color: var(--fg);
  cursor: none;
}

#cursor {
  list-style: none; 
  position: fixed;
  top: 0;
  /* left: 10px; */
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  /* filter: blur(10px); */
  /* border: 1.2px solid var(--bg); */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  box-shadow: 0 0 0 1px var(--bg);
  opacity: 0;
  transition: opacity 300ms ease;
}

.cursor-dot {
  width: 15px;
  /* box-shadow: 0 0 4px 1px var(--fg); */
  /* border: 0.2px solid var(--fg); */
  height: 15px;
  background-color: var(--bg);
  border-radius: 50%;
}

body:hover #cursor {
  opacity: 1;
}

nav {
  display: flex;
  /* border: 1px solid rgb(255, 255, 255); */
  height: 15vh;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  align-items: center;
  gap: 20px;
  justify-content: center;
  /* position: relative; */
  /* background: var(--bgw); */
}

.nav-title {
  font-family: 'Biz';
  font-size: 35px;
  font-weight: 800;
  position: relative;
  color: var(--fg);
  background-color: var(--bg);
  padding: 10px 20px;
  /* box-shadow: 4px -3px 0px 2px var(--fg); */
}

.nav-title::after {
  content: '';
  position: absolute;
  /* top: 7%; */
  left: 5%;
  width: 135px;
  height: 53px;
  background-color: var(--bgw);
  z-index: -1;
}

.nav-title::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5%;
  width: 25px;
  height: 23px;
  background-color: var(--bgw);
  z-index: -1;
}

#nav-hover {
  /* font-family: ''; */
  /* font-size: 20px; */
  font-weight: 800;
  /* position: absolute; */
  /* top: 10px; */
  height: 40px;
  width: 35px;
  font-size: 22px;
  border-radius: 100px;
  /* left: 55%; */
  display: flex;
  align-items: center;
  /* padding: 40px; */
  justify-content: center;
  background-color: var(--bg);
  color: var(--bgw);
  padding: 1px 4px;
  color: var(--fg);
}

.nav-list {
  list-style: none;
  cursor:auto;
  display: flex;
  height: 7.5vh;
  width: 0%;
  overflow: hidden;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out;
  gap: 30px;
}

.nav-list a {
  font-family: 'Valen';
  text-decoration: none;
  font-size: 20px;
  cursor: none;
  /* font-weight: 600; */
  color: var(--fg);
}

nav:hover .nav-list {
  width: 40%;
}