* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #00ED64;
  --fg: #000000;
  --bgw: #f5f5f5;
  --p: #c300ff;
  --pi : #ff00f7;
  --bpi: #ff00f728;
  --bp: #d000ff1f;
  --pin: #ffd900;
}

@font-face {
  font-family: 'Luck';
  src: url('./assets/font/LuckiestGuy.ttf');
}

@font-face {
  font-family: 'Biz';
  src: url('./assets/font/Bizantheum.otf');
}

@font-face {
  font-family: 'Santa';
  src: url('./assets/font/Santa\ Unicorn.ttf');
}

@font-face {
  font-family: 'Valen';
  src: url('./assets/font/Wonderful\ Valentine.ttf');
}

@font-face {
  font-family: 'Ais';
  src: url('./assets/font/Aisling-FreeDemo.otf');
}

@font-face {
  font-family: 'Str';
  src: url('./assets/font/StretchPro.ttf');
}

@font-face {
  font-family: 'Pro';
  src: url('./assets/font/Pronell.otf');
}

@font-face {
  font-family: 'Milk';
  src: url('./assets/font/Milker.otf');
}

@font-face {
  font-family: 'Com';
  src: url('./assets/font/Comero\ Baroque.ttf');
}

@font-face {
  font-family: 'Pat';
  src: url('./assets/font/Paterna.otf');
}

body {
  margin: 0;
  letter-spacing: 2px;
  display: flex;
  /* place-items: center; */
  min-height: 100vh;
  background-color: var(--fg);
  cursor: none;
}

#cursorname {
  position: fixed;
  top: 0;
  /* left: 10px; */
  width: 70px;
  height: 25px;
  background-color: var(--bg);
  /* border-radius: 50%; */
  /* filter: blur(10px); */
  /* border: 1.2px solid var(--bg); */
  z-index: 9999;
  color: var(--fg);
  font-family: 'Pat';
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  box-shadow: 0 0 0 2px var(--fg);
  opacity: 0;
  transition: opacity 300ms ease;
}

#cursor {
  list-style: none;
  position: fixed;
  top: 0;
  /* left: 10px; */
  width: 45px;
  height: 45px;
  /* background-color: transparent; */
  border-radius: 50%;
  /* filter: blur(10px); */
  /* border: 1.2px solid var(--bg); */
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  box-shadow: 0 0 0 2px var(--bgw);
  opacity: 0;
  transition: opacity 300ms ease;
}

.cursor-dot {
  width: 15px;
  /* box-shadow: 0 0 4px 1px var(--fg); */
  /* border: 0.2px solid var(--fg); */
  height: 15px;
  background-color: var(--bgw);
  border-radius: 50%;
}

body:hover #cursor {
  opacity: 1;
}

.getstarted:hover ~  #cursor{
  height: 200px;
  width: 200px;
  background-color: var(--bgw);
}


body:hover #cursorname {
  opacity: 1;
}

nav {
  display: flex;
  /* border: 1px solid rgb(255, 255, 255); */
  height: 15vh;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  align-items: center;
  gap: 20px;
  justify-content: center;
  /* position: relative; */
  /* background: var(--bgw); */
}

.nav-title {
  font-family: 'Biz';
  font-size: 35px;
  font-weight: 800;
  position: relative;
  color: var(--fg);
  background-color: var(--bg);
  padding: 10px 20px;
  /* box-shadow: 4px -3px 0px 2px var(--fg); */
}

.nav-title::after {
  content: '';
  position: absolute;
  /* top: 7%; */
  left: 5%;
  width: 135px;
  height: 53px;
  background-color: var(--bgw);
  z-index: -1;
}

.nav-title::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5%;
  width: 25px;
  height: 23px;
  background-color: var(--bgw);
  z-index: -1;
}

#nav-hover {
  /* font-family: ''; */
  /* font-size: 20px; */
  font-weight: 800;
  /* position: absolute; */
  /* top: 10px; */
  height: 40px;
  width: 35px;
  font-size: 22px;
  border-radius: 100px;
  /* left: 55%; */
  display: flex;
  align-items: center;
  /* padding: 40px; */
  justify-content: center;
  background-color: var(--bg);
  color: var(--bgw);
  padding: 1px 4px;
  color: var(--fg);
}

.nav-list {
  list-style: none;
  cursor: auto;
  display: flex;
  height: 7.5vh;
  width: 0%;
  overflow: hidden;
  min-width: 0;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in-out;
  gap: 30px;
}

.nav-list a {
  font-family: 'Valen';
  text-decoration: none;
  font-size: 20px;
  cursor: none;
  /* font-weight: 600; */
  color: var(--fg);
}

nav:hover .nav-list {
  width: 35%;
}

.HeroSection {
  height: 80vh;
  margin-left: 2.5%;
  width: 95%;
  background-color: var(--bg);
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* box-shadow: 0 0 10px 5px var(--bgw); */
  position: relative;
  /* border: 1px solid var(--bg); */
}

.HeroSection::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 1%;
  top: 2%;
  background: var(--bgw);
}

.HeroSection::before {
  position: absolute;
  content: '';
  height: 10%;
  width: 5%;
  z-index: -1;
  left: -1%;
  top: -2%;
  background: var(--bgw);
}

.hero{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
  /* border: 1px solid black; */
  position: relative;
}

.hero li:nth-child(1){
  font-family: 'Santa';
  font-size: 150px;
  margin-left: 30px;
  font-weight: 600;
  color: var(--fg);
}

.hero li:nth-child(2){
  margin-left: 31px;
  font-family: 'Santa';
  font-size: 80px;
  font-weight: 600;
  color: var(--p);
  background: var(--bp);
  border: 3px solid var(--p);
  padding: 20px;
  /* border-radius: 35px; */
  width: fit-content;

}

.hero li:nth-child(3){
  margin-left: 51px;
  font-family: 'Santa';
  font-size: 110px;
  font-weight: 600;
  color: var(--fg);
}

.getstarted{
  /* border: 1px solid black; */
  list-style: none;
  display: flex;
  background: var(--fg);
  margin-left: 51px;
  align-items: center;
  width: fit-content;
  height: 15%;
}

.getstarted li:nth-child(1){
  font-size: 30px;
  padding: 20px;
  font-family: 'Santa';

}

.getstarted li:nth-child(1) a{
  text-decoration: none;  
  color: var(--bg);
}


#arrowright{
  font-size: 35px;
  padding: 20px 20px 20px 20px;
  font-family: 'Santa';
  color: var(--bg);
}

.getstarted:hover{
  border-radius: 50px;
}

.getstarted:hover li:nth-child(1){
  transition: all 0.3s ease-in-out;
  color: var(--bgw);
}

.getstarted:hover #arrowright{
  color: var(--bgw);
  transition: all 0.3s ease-in-out;
  scale: 1.5;
  transform: rotate(-40Deg);
}

.highlight{
  background-color: var(--bpi);
  transform: translateX(10px);
  color: var(--pi);
  padding: 10px 20px;
  border: 3px solid var(--pi);
  /* border-radius: 40px; */
}

.heroimage{
  height: 350px;
  width: 500px;
  position: absolute;
  top: 5px;
  right: 50px;
}

.CardContainer{
  height: 50vh;
  width: 100%;
  margin-top: 5%;
  /* border: 1px solid var(--bg); */
  position: relative;
  display: flex;
  align-items: center;
}

.card{
  list-style: none;
  height: 80%;
  margin-left: 3%;
  width: 20.8%;
  display: flex;
  border: 5px solid;
  /* border-radius: 10px; */
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  /* transform: rotate(-10Deg); */
  gap: 20px;
}

.card::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgw);
  top: -20px;
  z-index: -1;
  left: 20px;
}

.card::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--fg);
  top: -35px;
  z-index: 2;
  right: -35px;
}

.card i:nth-child(1){
  font-size: 100px;
  font-family: 'Santa';
  font-weight: 600;
  color: var(--bg);
}

.card li:nth-child(2){
  font-size: 32px;
  font-family: 'Pro';
  font-weight: 800;
  color: var(--bg);
}

.card li:nth-child(3){
  font-size: 16px;
  font-family: 'Valen';
  font-weight: 600;
  color: var(--bg);
  text-align: center;
}

/* .CardContainer:hover .card{
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0.5;
}

.CardContainer .card:hover{
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
} */

.about{
  height: 80vh;
  width: 95%;
  margin-top: 5%;
  margin-left: 2.5%;
  /* border: 1px solid var(--bg); */
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about::after{
  position: absolute;
  content: '';
  height: 50%;
  width: 50%;
  z-index: -1;
  left: 0%;
  top: 7%;
  background: var(--bgw);
}


.about::before{
  position: absolute;
  content: '';
  height: 50%;
  width: 50%;
  z-index: -1;
  right: 0%;
  bottom: 7%;
  background: var(--bgw);
}

.aboutcontent{
  list-style: none;
  height: 80%;
  /* margin-left: 3%; */
  width: 98%;
  display: flex;
  background-color: var(--bg);
  /* border-radius: 10px; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* transform: rotate(-10Deg); */
  gap: 40px;
}

.aboutcontent li:nth-child(1){
  font-size: 82px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: 'Milk';
  font-weight: 800;
  color: var(--fg);
}

.aboutcontent li:nth-child(2){
  font-size: 25px;
  margin-top: 10px;
  margin-left: 30px;
  font-family: 'Santa';
  font-weight: 800;
  color: var(--fg);
}

.aboutcontent li:nth-child(3){
  font-size: 45px;
  /* margin-top: 30px; */
  margin-left: 30px;
  font-family: 'Santa';
  /* font-weight: 800; */
  color: var(--fg);
}

.aboutcontent li:nth-child(4){
  font-size: 25px;
  /* margin-top: 30px; */
  margin-left: 30px;
  font-family: 'Santa';
  font-weight: 800;
  color: var(--fg);
}

.download{
  margin-top: 100px;
  height: 40vh;
  width: 100%;
  border: 1px solid var(--bg);
  color: var(--bg);
}